/*
 * common.scss
 * @author: howelin
 * @date: 2017/8/1
 */

.table-pager {
    padding-top: 20px;
    text-align: center;
}
.toolbar{
	.el-form{
		display: flex;
	}
	.el-col{
		margin-right: 40px;
	}
	// .el-input{
	// 	width: 200px;
	// }
}